@import bourbon
@import placeholders

/*==========  Desktop First Method  ==========*/

@media only screen and (min-width: 992px) and (max-width : 1560px)
	.main-header
		.col-md-8, .col-md-2
			width: 33.3333%
		.col-md-pull-2
			left: -33.3333333333%
		.col-md-push-8
			left: 33.333333333%
	.main-nav__link
		font-size: .7em

@media only screen and (max-width : 1345px)
	.content-container
		width: 100%
		&_main
			padding: 18px 18px


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.search-form
		min-width: 80%
	.blog-header
		.h1
			line-height: 1em
	.header-descr
		padding-right: 0
	.masonry-wrapp
		max-width: auto
	.so-widget-sow-slider .sow-slider-base .sow-slide-nav
		&.sow-slide-nav-next
			right: 25%
		&.sow-slide-nav-prev
			left: 25%
	.panel-first-child
		.widget-title
			font-size: 1.4444em
	.textwidget
		p
			span
				strong
					font-family: 'RobotoMedium', sans-serif
					font-size: 24px
			strong
				span
					font-family: 'RobotoMedium', sans-serif
					font-size: 24px !important
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)

	// Main menu
	.main-nav-wrapp
		position: absolute
		top: -80px
		right: -6px
		margin-right: -280px
		&.active
			margin-right: 0
	.main-nav
		display: block
		height: auto
		padding-left: 80px
		&__item
			display: block
			color: #fff
			margin: 0
		&__link
			color: #fff
			width: 280px
			padding: 10px 15px
		&__bar
			display: none
	.soc-panel_header
		padding-right: 149px
	.toggle-search
		right: 84px

	.fullstory-header
		&__descr
			padding: 15px
		&__h1
			font-size: 2em
		&__info
			font-size: .8em

	// Brand logo
	.blog-header
		padding: 80px 0
	.brand-logo
		width: 250px
		height: 250px
		margin: 0 auto 40px
		&__item
			background-size: cover
	.error-info
		&__square
			padding: 60px 40px 25px
			font-size: 80px
		&__label
			height: 94px
			padding: 0 30px
			line-height: 75px
	.fullstory-content
		padding: 100px 15px 0

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)

	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important
	.main-logo
		max-width: 200px
		padding-left: 0
	.soc-panel_header
		padding-top: 25px
		.soc-panel__item
			font-size: 20px

	.h1
		font-size: 2.7em
		line-height: .7em

	// Brand logo
	.blog-header
		padding: 50px 0
		.h1
			margin-bottom: 25px
	.brand-logo
		width: 200px
		height: 200px
	.grid-gutter
		width: 10%
	.error-wrapp
		padding: 0 15px 15px
	.error-info
		text-align: center
		&__square
			display: block
			width: 280px
			height: auto
			padding: 20px
			text-align: center
			margin: -45px auto 0
			float: none
		&__label
			height: auto
			margin-top: 15px
			margin-left: 0
			font-size: 20px

	.fullstory-header
		display: block
		&__h1
			margin: 30px 0
		&__img
			width: 100%
			max-width: 430px
			margin: 0 auto
			background-color: #fff
		&__descr
			display: block
			position: relative
			left: 0
			text-align: center
	.panel-grid
		margin-bottom: 100px !important

	.wysija-paragraph,
	.widget_wysija .widget_wysija_cont .wysija-submit
		display: block
		margin: 20px auto 0

	.telegram-subscr
		margin-top: 40px

@media only screen and (max-width : 650px)
	.soc-panel_header
		.soc-panel__item:nth-child(n+3)
			display: none

@media only screen and (max-width : 530px)
	.post
		width: 375px
		margin: 0 auto 15px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.h1
		text-align: center

	// brand header

	.header-descr
		font-size: 16px

	.search-wrapp
		padding: 0 15px
		.fa-close
			top: 15px
			right: 10px
	.radio-cat
		margin: 20px auto 0
		width: 90%
		&__label
			display: block
			width: 100%
			margin-bottom: 15px
			text-align: left
	.main-nav-wrapp
		top: -60px
	.main-header
		height: 60px
	.toggle-mnu
		width: 60px
		height: 60px
	.toggle-search
		right: 64px
		width: 60px
		height: 60px
		line-height: 58px
	.mobile-mnu
		width: 30px
	.main-logo
		height: 60px
		line-height: 60px
	.soc-panel_header
		padding-top: 15px
		padding-right: 115px

@media only screen and (max-width : 400px)
	.soc-panel_header
		display: none

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	.toggle-mnu
		display: none


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

